html,

.header {
  overflow: hidden;
  background-color: #52796F;
  color: #CAD2C5;
  padding: 20px 10px;
  font-size: 10px;
}

.verticle-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
/* Style the header links */
li a {
  float: left;
  color: #354F52;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
}

li a:hover {
  background-color: #CAD2C5;
  color: #354F52;
}

.about-me {
    margin-left:25%;
    padding:1px 16px;
    height:1000px;
}

