html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #0c4524;
	text-align: left;
    	letter-spacing: 0.04em;
    	line-height: 160%;
    	word-wrap: break-word;
    	margin: 0;
   	padding: 0;
   	overflow-x: hidden;
}

body,
h1, h3, h4, h5, .title {
	color: #f09894;
    	line-height: 145%;
    	font-weight: bold;
    	font-size: 1.75em;
    	letter-spacing: 0.06em;
}

h2 {
	color: #fab7ae;
	line-height: 145%;
    	font-weight: bold;
    	font-size: 1.75em;
    	letter-spacing: 0.06em;
}

p {
	color: #fffffff;
}

::selection {
	background-color: #fcd3ce;
	color: #245739;
}

.container {
	margin: 50px auto;
	padding: 5px;
	max-width: 650px;
}

@media (max-width: 600px) {
	.container {
		padding: 20px;
	}
}

.header-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.header-frame {
	max-width: 350px;
}

a {
	color: #fcd3ce;
	text-align: center;
}
a:hover {
	color: #fab7ae;
	font-weight: bold;
}
a:visited {
	color: #fab7ae;
}
